/*+.+++.+++.+++.+++.+++.+++.+++.+++.+++.+++.+++.
.+++.+++.+++.+++.+++.+++.+++.+++.+++.+++.+++.+++
+++.                                        +++.
.+++                                        .+++
+++.        DDD.    NNN.    NNN.    AAA.    +++.
.+++        DDD.    NNN.    NNN.    AAA.    .+++
+++.    DDD.    NNN.    NNN.    AAA.        +++.
.+++    DDD.    NNN.    NNN.    AAA.        .+++
+++.        DDD.NNN.NNN.NNN.NNN.            +++.
.+++        DDD.NNN.NNN.NNN.NNN.            .+++
+++.            NNN.    NNN.        AAA.    +++.
.+++            NNN.    NNN.        AAA.    .+++
+++.        EEE.    III.    KKK.    NNN.    +++.
.+++        EEE.    III.    KKK.    NNN.    .+++
+++.    EEE.    III.    KKK.    NNN.        +++.
.+++    EEE.    III.    KKK.    NNN.        .+++
+++.        EEE.III.    KKK.    NNN.NNN.    +++.
.+++        EEE.III.    KKK.    NNN.NNN.    .+++
+++.        EEE.    III.KKK.KKK.NNN.        +++.
.+++        EEE.    III.KKK.KKK.NNN.        .+++
+++.                                        +++.
.+++                                        .+++
+++.+++.+++.+++.+++.+++.+++.+++.+++.+++.+++.+++.
.+++.+++.+++.+++.+++.+++.+++.+++.+++.+++.+++.+*/

/* Licensed under the EUPL-1.2-or-later */

footer {
  background-color: black;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 32px 10%;
}

.DiFOOT-INFO_icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

.DiFOOT-INFO_logo {
  height: 80px;
}

.DiFOOT-INFO_socmed {
  list-style: none;
}

.DiFOOT-INFO_socmed li {
  display: inline-block;
  justify-items: center;
  padding-left: 32px;
}

.DiFOOT-INFO_copyright {
  width: 100%;
  padding-top: 64px;
}

.DiFOOT-INFO_copyright p {
  float: right;
  width: 50%;
  color: white;
  text-align: right;
  vertical-align: top;
}

@media screen and (max-width: 1080px) {
  .DiFOOT-INFO_copyright p {
    width: 75%;
  }
}

@media screen and (max-width: 720px) {
  .DiFOOT-INFO_icons {
    height: 96px;
    align-items: flex-start;
  }

  .DiFOOT-INFO_socmed {
    width: 128px;
  }

  .DiFOOT-INFO_socmed li {
    transform: translateX(24px);
    padding-left: 16px;
    padding-bottom: 16px;
  }

  .DiFOOT-INFO_copyright p {
    width: 100%;
    text-align: center;
  }
}
