/*+.+++.+++.+++.+++.+++.+++.+++.+++.+++.+++.+++.
.+++.+++.+++.+++.+++.+++.+++.+++.+++.+++.+++.+++
+++.                                        +++.
.+++                                        .+++
+++.        DDD.    NNN.    NNN.    AAA.    +++.
.+++        DDD.    NNN.    NNN.    AAA.    .+++
+++.    DDD.    NNN.    NNN.    AAA.        +++.
.+++    DDD.    NNN.    NNN.    AAA.        .+++
+++.        DDD.NNN.NNN.NNN.NNN.            +++.
.+++        DDD.NNN.NNN.NNN.NNN.            .+++
+++.            NNN.    NNN.        AAA.    +++.
.+++            NNN.    NNN.        AAA.    .+++
+++.        EEE.    III.    KKK.    NNN.    +++.
.+++        EEE.    III.    KKK.    NNN.    .+++
+++.    EEE.    III.    KKK.    NNN.        +++.
.+++    EEE.    III.    KKK.    NNN.        .+++
+++.        EEE.III.    KKK.    NNN.NNN.    +++.
.+++        EEE.III.    KKK.    NNN.NNN.    .+++
+++.        EEE.    III.KKK.KKK.NNN.        +++.
.+++        EEE.    III.KKK.KKK.NNN.        .+++
+++.                                        +++.
.+++                                        .+++
+++.+++.+++.+++.+++.+++.+++.+++.+++.+++.+++.+++.
.+++.+++.+++.+++.+++.+++.+++.+++.+++.+++.+++.+*/

/* Licensed under the EUPL-1.2-or-later */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 10%;
}

.DiHEAD-NAV_links {
  list-style: none;
}

.DiHEAD-NAV_links li {
  display: inline-block;
  padding-right: 32px;
}

h6.DiHEAD-NAV_link {
  transition: 0.3s ease-in-out;
}

h6.DiHEAD-NAV_link:hover,
h6.DiHEAD-NAV_link:active {
  color: var(--DiPINK);
  transition: 0.3s ease-in-out;
}

.DiHEAD-NAV_icons {
  display: flex;
  height: 64px;
}

.DiHEAD-NAV_menu {
  transform: translateX(11px);
  display: none;
}

.DiHEAD-NAV_logo {
  opacity: 100%;
  padding-left: 32px;
}

@media screen and (max-width: 720px) {
  header {
    justify-content: flex-end;
    align-items: flex-start;
  }

  .DiHEAD-NAV_links {
    z-index: -2;
    opacity: 0%;
    position: fixed;
    top: 0px;
    right: 0px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--DiRED);
    transition: 0.3s ease-in-out;
  }

  .DiHEAD-NAV_links li {
    padding-right: 0px;
    padding-top: 32px;
    padding-bottom: 32px;
  }

  h6.DiHEAD-NAV_link {
    color: white;
    font-size: 32px;
  }

  h6.DiHEAD-NAV_link:hover,
  h6.DiHEAD-NAV_link:active {
    color: var(--DiPINK);
    font-size: 32px;
  }

  .DiHEAD-NAV_menu {
    z-index: 2;
    display: block;
    cursor: pointer;
    animation: xtocross 0.3s ease-in-out 0s reverse;
  }

  .DiHEAD-NAV_logo {
    z-index: 1;
    transition: 0.6s ease-in-out;
  }

  @keyframes xtocross {
    75% {
      filter: grayscale(0%) invert(0%);
      transform: translateX(94px);
    }
    100% {
      filter: grayscale(100%) brightness(0%) invert(100%);
      transform: translateX(94px) rotate(45deg);
    }
  }
}

.DiHEAD-NAV_menu-fadein {
  z-index: 1;
  opacity: 100%;
  transition: 0.3s ease-in-out;
  transition-delay: 0.3s;
}

.DiHEAD-NAV_menu-fadeout {
  z-index: -1;
  opacity: 0%;
  transition: 0.3s ease-in-out;
}

.DiHEAD-NAV_menu-transform {
  position: fixed;
  right: calc(10% + 96px);
  animation: crosstox 0.3s ease-in-out 0.15s forwards;
}

@keyframes crosstox {
  75% {
    filter: grayscale(0%) invert(0%);
    transform: translateX(94px);
  }
  100% {
    filter: grayscale(100%) brightness(0%) invert(100%);
    transform: translateX(94px) rotate(45deg);
  }
}
