/*+.+++.+++.+++.+++.+++.+++.+++.+++.+++.+++.+++.
.+++.+++.+++.+++.+++.+++.+++.+++.+++.+++.+++.+++
+++.                                        +++.
.+++                                        .+++
+++.        DDD.    NNN.    NNN.    AAA.    +++.
.+++        DDD.    NNN.    NNN.    AAA.    .+++
+++.    DDD.    NNN.    NNN.    AAA.        +++.
.+++    DDD.    NNN.    NNN.    AAA.        .+++
+++.        DDD.NNN.NNN.NNN.NNN.            +++.
.+++        DDD.NNN.NNN.NNN.NNN.            .+++
+++.            NNN.    NNN.        AAA.    +++.
.+++            NNN.    NNN.        AAA.    .+++
+++.        EEE.    III.    KKK.    NNN.    +++.
.+++        EEE.    III.    KKK.    NNN.    .+++
+++.    EEE.    III.    KKK.    NNN.        +++.
.+++    EEE.    III.    KKK.    NNN.        .+++
+++.        EEE.III.    KKK.    NNN.NNN.    +++.
.+++        EEE.III.    KKK.    NNN.NNN.    .+++
+++.        EEE.    III.KKK.KKK.NNN.        +++.
.+++        EEE.    III.KKK.KKK.NNN.        .+++
+++.                                        +++.
.+++                                        .+++
+++.+++.+++.+++.+++.+++.+++.+++.+++.+++.+++.+++.
.+++.+++.+++.+++.+++.+++.+++.+++.+++.+++.+++.+*/

/* Licensed under the EUPL-1.2-or-later */

/* deninkan colour palette */
:root {
  --DiRED: #eb1941;
  --DiPINK: #f06987;
}

* {
}

body {
  background-color: white;
}

/* unvisited link */
li:link,
li:visited,
a:link,
a:visited {
  color: var(--DiRED);
  font-family: 'Source Han Code JP', monospace;
  text-decoration: none;
  transition: 0.3s ease-in-out;
}

/* mouse over link */
li:hover,
a:hover {
  color: var(--DiPINK);
  font-family: 'Source Han Code JP', monospace;
  text-decoration: none;
  transition: 0.3s ease-in-out;
}

/* selected link */
li:active,
a:active {
  color: var(--DiPINK);
  font-family: 'Source Han Code JP', monospace;
  text-decoration: line-through;
  transition: 0.3s ease-in-out;
}

/* default font styles */
h1 {
  color: var(--DiRED);
  font-size: 48px;
  font-family: 'Source Han Code JP', monospace;
  font-weight: 900;
  padding-bottom: 8px;
}

h2 {
  color: black;
  font-size: 48px;
  font-family: 'Source Han Code JP', monospace;
  font-weight: 900;
  padding-bottom: 8px;
}

h3 {
  color: var(--DiRED);
  font-size: 32px;
  font-family: 'Source Han Code JP', monospace;
  font-weight: 700;
  padding-bottom: 4px;
}

h4 {
  color: black;
  font-size: 32px;
  font-family: 'Source Han Code JP', monospace;
  font-weight: 700;
  padding-bottom: 4px;
}

h5 {
  color: var(--DiRED);
  font-size: 24px;
  font-family: 'Source Han Code JP', monospace;
  font-weight: 700;
  padding-bottom: 2px;
}

h6 {
  color: black;
  font-size: 24px;
  font-family: 'Source Han Code JP', monospace;
  font-weight: 700;
  padding-bottom: 2px;
}

p {
  color: black;
  font-size: 12px;
  font-family: 'Source Han Code JP', monospace;
  font-weight: 400;
}
