/*+.+++.+++.+++.+++.+++.+++.+++.+++.+++.+++.+++.
.+++.+++.+++.+++.+++.+++.+++.+++.+++.+++.+++.+++
+++.                                        +++.
.+++                                        .+++
+++.        DDD.    NNN.    NNN.    AAA.    +++.
.+++        DDD.    NNN.    NNN.    AAA.    .+++
+++.    DDD.    NNN.    NNN.    AAA.        +++.
.+++    DDD.    NNN.    NNN.    AAA.        .+++
+++.        DDD.NNN.NNN.NNN.NNN.            +++.
.+++        DDD.NNN.NNN.NNN.NNN.            .+++
+++.            NNN.    NNN.        AAA.    +++.
.+++            NNN.    NNN.        AAA.    .+++
+++.        EEE.    III.    KKK.    NNN.    +++.
.+++        EEE.    III.    KKK.    NNN.    .+++
+++.    EEE.    III.    KKK.    NNN.        +++.
.+++    EEE.    III.    KKK.    NNN.        .+++
+++.        EEE.III.    KKK.    NNN.NNN.    +++.
.+++        EEE.III.    KKK.    NNN.NNN.    .+++
+++.        EEE.    III.KKK.KKK.NNN.        +++.
.+++        EEE.    III.KKK.KKK.NNN.        .+++
+++.                                        +++.
.+++                                        .+++
+++.+++.+++.+++.+++.+++.+++.+++.+++.+++.+++.+++.
.+++.+++.+++.+++.+++.+++.+++.+++.+++.+++.+++.+*/

/* Licensed under the EUPL-1.2-or-later */

/* deninkan colour palette */
:root {
  --DiRED: #eb1941;
  --DiPINK: #f06987;
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  background-color: white;
}

/* unvisited link */
li,
a {
  color: var(--DiRED);
  font-family: 'Source Han Code JP', monospace;
  text-decoration: none;
  transition: 0.3s ease-in-out;
}

/* mouse over link */
li:hover,
a:hover {
  color: var(--DiPINK);
  font-family: 'Source Han Code JP', monospace;
  text-decoration: none;
  transition: 0.3s ease-in-out;
}

/* selected link */
li:active,
a:active {
  color: var(--DiPINK);
  font-family: 'Source Han Code JP', monospace;
  text-decoration: line-through;
  transition: 0.3s ease-in-out;
}

/* default font styles */
h1 {
  color: var(--DiRED);
  font-size: 96px;
  font-family: 'Source Han Code JP', monospace;
  font-weight: 900;
  padding-bottom: 8px;
  text-align: center;
}

h2 {
  color: var(--DiRED);
  font-size: 64px;
  font-family: 'Source Han Code JP', monospace;
  font-weight: 900;
  padding-bottom: 8px;
}

h3 {
  color: var(--DiRED);
  font-size: 48px;
  font-family: 'Source Han Code JP', monospace;
  font-weight: 700;
  padding-bottom: 4px;
}

h4 {
  color: var(--DiRED);
  font-size: 32px;
  font-family: 'Source Han Code JP', monospace;
  font-weight: 700;
  padding-bottom: 4px;
}

h5 {
  color: var(--DiRED);
  font-size: 24px;
  font-family: 'Source Han Code JP', monospace;
  font-weight: 700;
  padding-bottom: 2px;
}

h6 {
  color: var(--DiRED);
  font-size: 16px;
  font-family: 'Source Han Code JP', monospace;
  font-weight: 700;
}

p {
  color: black;
  font-size: 12px;
  font-family: 'Source Han Code JP', monospace;
  font-weight: 400;
}

/* twemoji */
img.emoji {
  display: inline !important;
  border: none !important;
  box-shadow: none !important;
  height: 1.25em !important;
  width: 1.25em !important;
  margin: 0 0.07em !important;
  vertical-align: -0.3em !important;
  background: none !important;
  padding: 0 !important;
}

.DiFULLBG {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.DiFULLBG_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 64px 10%;
  height: calc(100vh - 128px);
}

.title {
  width: 100%;
  transform: translateY(-64px);
}
