/*+.+++.+++.+++.+++.+++.+++.+++.+++.+++.+++.+++.
.+++.+++.+++.+++.+++.+++.+++.+++.+++.+++.+++.+++
+++.                                        +++.
.+++                                        .+++
+++.        DDD.    NNN.    NNN.    AAA.    +++.
.+++        DDD.    NNN.    NNN.    AAA.    .+++
+++.    DDD.    NNN.    NNN.    AAA.        +++.
.+++    DDD.    NNN.    NNN.    AAA.        .+++
+++.        DDD.NNN.NNN.NNN.NNN.            +++.
.+++        DDD.NNN.NNN.NNN.NNN.            .+++
+++.            NNN.    NNN.        AAA.    +++.
.+++            NNN.    NNN.        AAA.    .+++
+++.        EEE.    III.    KKK.    NNN.    +++.
.+++        EEE.    III.    KKK.    NNN.    .+++
+++.    EEE.    III.    KKK.    NNN.        +++.
.+++    EEE.    III.    KKK.    NNN.        .+++
+++.        EEE.III.    KKK.    NNN.NNN.    +++.
.+++        EEE.III.    KKK.    NNN.NNN.    .+++
+++.        EEE.    III.KKK.KKK.NNN.        +++.
.+++        EEE.    III.KKK.KKK.NNN.        .+++
+++.                                        +++.
.+++                                        .+++
+++.+++.+++.+++.+++.+++.+++.+++.+++.+++.+++.+++.
.+++.+++.+++.+++.+++.+++.+++.+++.+++.+++.+++.+*/

/* Licensed under CC-BY-NC-SA-4.0 */

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 7.5%;
}

.DiNAV_links {
  list-style: none;
}

.DiNAV_links li {
  display: inline-block;
  padding-right: 32px;
}

.DiNAV_icons {
  display: flex;
  height: 64px;
}

.DiNAV_menu {
  transform: translateX(11px);
  display: none;
}

.DiNAV_logo {
  opacity: 100%;
  padding-left: 32px;
  transition: 0.6s ease-in-out;
}

@media screen and (max-width: 720px) {
  header {
    justify-content: flex-end;
    align-items: flex-start;
  }

  .DiNAV_links {
    z-index: -1;
    opacity: 0%;
    position: absolute;
    top: 0px;
    right: 0px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--DiRED);
    transition: 0.3s ease-in-out;
  }

  .DiNAV_links li {
    padding-right: 0px;
    padding-top: 32px;
    padding-bottom: 32px;
  }

  .DiNAV_links a:link,
  a:visited {
    color: white;
    font-size: 32px;
  }

  .DiNAV_links a:hover,
  a:active {
    color: var(--DiPINK);
    font-size: 32px;
  }

  .DiNAV_menu {
    display: block;
    cursor: pointer;
    animation: xtocross 0.3s ease-in-out 0s reverse;
  }

  .DiNAV_logo {
    z-index: 1;
    background-color: white;
  }

  @keyframes xtocross {
    75% {
      filter: grayscale(0%) invert(0%);
      transform: translateX(96px);
    }
    100% {
      filter: grayscale(100%) brightness(0%) invert(100%);
      transform: translateX(96px) rotate(45deg);
    }
  }
}

.DiNAV_menu-fadein {
  opacity: 100%;
  transition: 0.3s ease-in-out;
  transition-delay: 0.3s;
}

.DiNAV_menu-fadeout {
  z-index: -2;
  background-color: none;
  opacity: 0%;
  transition: 0.15s ease-in-out;
}

.DiNAV_menu-transform {
  animation: crosstox 0.3s ease-in-out 0.15s forwards;
}

@keyframes crosstox {
  75% {
    filter: grayscale(0%) invert(0%);
    transform: translateX(96px);
  }
  100% {
    filter: grayscale(100%) brightness(0%) invert(100%);
    transform: translateX(96px) rotate(45deg);
  }
}
